@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Manufacturing+Consent&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Manufacturing+Consent&family=Quicksand:wght@300..700&display=swap');

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.card {
  padding: 2em;
}

.card>h2 {
  padding-right: 50px;
}

.read-the-docs {
  color: #888;
}

.retro-bg {
  background-image: url('/noise.png');
  background-size: 100px;
  background-position: 0 0;
  background-repeat: repeat;
}

.retro-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  pointer-events: none;
  z-index: 0;
  background-image: url('/noise.png');
  background-size: 100px;
  background-position: 0 0;
  background-repeat: repeat;
}